.idea/
*.iml
*.jar
*.tgz
*.versionsBackup
_version.json
target/
version.txt
hashbash-cli
hashbash-engine
hashbash-webapp
engine
migrate
webapp
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/hashbash-backend.debhelper.log
debian/hashbash-backend.substvars
debian/hashbash-backend/
debian/hashbash-engine.service
debian/hashbash-webapp.service
debian/hashbash-backend.postrm.debhelper
update-deb-version
