[Unit]
Description=hashbash engine service
Requires=hashbash-engine-management.socket

[Service]
ExecStart=/usr/bin/hashbash-engine
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all
EnvironmentFile=/opt/secrets/hashbash/hashbash.env
Environment=HASHBASH_MANAGEMENT_NAME=hashbash-engine-management
Sockets=hashbash-engine-management.socket
User=hashbash

[Install]
WantedBy=multi-user.target
