[Unit]
Description=hashbash webapp listen socket
PartOf=hashbash-webapp.service

[Socket]
ListenStream=/run/hashbash/webapp.sock
FileDescriptorName=hashbash-webapp
Service=hashbash-webapp.service
SocketUser=hashbash
SocketGroup=hashbash

[Install]
WantedBy=sockets.target
