[Unit]
Description=hashbash webapp service
Requires=hashbash-webapp.socket
Requires=hashbash-webapp-management.socket

[Service]
ExecStart=/usr/bin/hashbash-webapp
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all
EnvironmentFile=/opt/secrets/hashbash/hashbash.env
Environment=HASHBASH_HTTP_NAME=hashbash-webapp
Environment=HASHBASH_MANAGEMENT_NAME=hashbash-webapp-management
Sockets=hashbash-webapp.socket
Sockets=hashbash-webapp-management.socket
User=hashbash

[Install]
WantedBy=multi-user.target
