[Unit]
Description=hashbash engine service

[Service]
ExecStart=/opt/hashbash/bin/hashbash-engine
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all
EnvironmentFile=/opt/hashbash/hashbash.env
Environment=HASHBASH_LOG_FILE=/opt/hashbash/logs/engine.log
Environment=HASHBASH_MANAGEMENT_PORT=8082

[Install]
WantedBy=multi-user.target
