[Unit]
Description=hashbash webapp service

[Service]
ExecStart=/opt/hashbash/bin/hashbash-webapp
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
StandardOutput=/opt/hashbash/logs/webapp.log
NotifyAccess=all
EnvironmentFile=/opt/hashbash/hashbash.env

[Install]
WantedBy=multi-user.target
