[Unit]
Description=hashbash webapp listen socket
PartOf=hashbash-webapp.service

[Socket]
ListenStream=/opt/hashbash/sockets/hashbash-webapp.sock
FileDescriptorName=hashbash-webapp

[Install]
WantedBy=sockets.target
