#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=hashbash-engine
	dh_installsystemd --name=hashbash-webapp
	dh_installsystemd --name=hashbash-engine-management
	dh_installsystemd --name=hashbash-webapp-management
